# folder
bin
coverage
examples
docs
src
tests

# files
.DS_Store
.editorconfig
.gitignore
.gitlab-ci.yml
.huskyrc
.prettierignore
.prettierrc
docker-compose.yml
jest.coverage.js
jest.json
jest.test.js
tsconfig.build.json
tsconfig.json
tslint.json
typedoc.json
