# folder
bin
coverage
example
examples
docs
src
tests

# files
.DS_Store
.editorconfig
.gitignore
.gitlab-ci.yml
.huskyrc
.prettierignore
.prettierrc
docker-compose.yml
jest.json
jest.ci.js
tsconfig.build.json
tsconfig.json
tslint.json
